extend layout

block title
    link(rel="stylesheet", href="style.css")
    link(rel="icon", href="Poke Ball Icon.png")
    title BULBASAUR | POKÉDEX

block content
    div#container
        div.card
            h5.card-title Bulbasaur
            img.card-img(src="Bulbasaur.png", alt="Bulbasaur")
            ul.type-list
                li.type.grass-type grass
                li.type.poison-type poison
        div#info
            p Dex Number: 1
            p Category: Seed
            p Height: 2' 4"
            p Weight: 15.2 lbs
            p Ability: Overgrow
        div#entry
            p For some time after its birth, it uses the nutrients that are packed into the seed on its back in order to grow.