doctype
html
    link(rel="stylesheet", href="style.css")
    link(rel="icon", href="Poke Ball Icon.png")
    title POKÉDEX

    div#header
        svg(viewBox="100 25 300 100")
            path#curve1(d="M165,175C165,25,335,25,335,175")
            path#curve2(d="M155,250C155,25,345,25,345,250")
            text#title
                textPath(xlink:href="#curve1", startOffset="50%", text-anchor="middle")
                    | Pokédex
            text#tagline
                textPath(xlink:href="#curve2", startOffset="50%", text-anchor="middle")
                    | "Gotta catch 'em all!"
        img(src="White Half Poké Ball Symbol.png")

    div#container
        a(href="bulbasaur.html")
            div.card
                h5.card-title Bulbasaur
                img.card-img(src="Bulbasaur.png", alt="Bulbasaur")
                ul.type-list
                    li.type.grass-type grass
                    li.type.poison-type poison
        a(href="charmander.html")
            div.card
                h5.card-title Charmander
                img.card-img(src="Charmander.png", alt="Charmander")
                ul.type-list
                    li.type.fire-type fire
        a(href="squirtle.html")
            div.card
                h5.card-title Squirtle
                img.card-img(src="Squirtle.png", alt="Squirtle")
                ul.type-list
                    li.type.water-type water
    div#form
        h1 Be a Trainer!
        form(method="post", action=`/trainer`)
            p
                label Name
                input(type="text", name="name")
            input(type="submit", value="Submit")