doctype
html
    link(rel="stylesheet", href="style.css")
    script(src="javascripts/filter_sort.js", defer)
    link(rel="icon", href="images/Poke Ball Icon.png")
    title POKÉDEX

    div#header
        svg(viewBox="100 25 300 100")
            path#curve1(d="M165,175C165,25,335,25,335,175")
            path#curve2(d="M155,250C155,25,345,25,345,250")
            text#title
                textPath(xlink:href="#curve1", startOffset="50%", text-anchor="middle")
                    | Pokédex
            text#tagline
                textPath(xlink:href="#curve2", startOffset="50%", text-anchor="middle")
                    | "Gotta catch 'em all!"
        img(src="images/White Half Poké Ball Symbol.png")

    div#form
        h1 Be a Trainer!
        form(method="post", action=`/trainer`)
            p
                label Name
                input(type="text", name="name")
            input(type="submit", value="Submit")

    div#sideButtons
        select#sortBy(name="sortBy")
            option(value="pid") Sort: Dex Number
            option(value="Name") Sort: Name
            option(value="Type_1") Sort: Type
            option(value="Height") Sort: Height
            option(value="Weight") Sort: Weight
        
        select#order(name="order")
            option(value="1") Ascending
            option(value="-1") Descending

    div#container