doctype
html
    link(rel="stylesheet", href="style.css")
    script(src="javascripts/token.js", defer)
    script(src="javascripts/filter_sort.js", defer)
    link(rel="icon", href="images/Poke Ball Icon.png")
    title POKÉDEX

    div#header
        svg(viewBox="100 25 300 100")
            path#curve1(d="M165,175C165,25,335,25,335,175")
            path#curve2(d="M155,250C155,25,345,25,345,250")
            text#title
                textPath(xlink:href="#curve1", startOffset="50%", text-anchor="middle")
                    | Pokédex
            text#tagline
                textPath(xlink:href="#curve2", startOffset="50%", text-anchor="middle")
                    | "Gotta catch 'em all!"
        img(src="images/White Half Poké Ball Symbol.png")
    
    div#sticky

        div.account
            div#form
                a(href=`/signup`) SIGN UP to be a Trainer
                br
                a(href=`/login`) LOG IN as a Trainer

            a#trainer(href =`/trainer`) 
        

        div#sideButtons
            input#search(type='text', name='search' placeholder='Search by name or type' value='')
            
            select#sortBy(name="sortBy")
                option(value="pid") Sort: Dex Number
                option(value="Name") Sort: Name
                option(value="Type_1") Sort: Type
                option(value="Height") Sort: Height
                option(value="Weight") Sort: Weight
            
            select#order(name="order")
                option(value="1") Ascending
                option(value="-1") Descending

            select#limit(name="limit")
                option(value="10") Limit: 10
                option(value="25") Limit: 25
                option(value="50") Limit: 50
                option(value="100") Limit: 100
                option(value="1300") Limit: all

            input#popupbutton(type='button' value='Filter by Type')

            ul#checkBundle(style='display:none')
                li
                    input(type='checkbox', id='type0')
                    | Normal
                li
                    input(type='checkbox', id='type1')
                    | Fighting
                li
                    input(type='checkbox', id='type2')
                    | Flying
                li
                    input(type='checkbox', id='type3')
                    | Poison
                li
                    input(type='checkbox', id='type4')
                    | Ground
                li
                    input(type='checkbox', id='type5')
                    | Rock
                li
                    input(type='checkbox', id='type6')
                    | Bug
                li 
                    input(type='checkbox', id='type7')
                    | Ghost
                li
                    input(type='checkbox', id='type8')
                    | Steel 
                li  
                    input(type='checkbox', id='type9')
                    | Fire
                li
                    input(type='checkbox', id='type10')
                    | Water
                li
                    input(type='checkbox', id='type11')
                    | Grass
                li
                    input(type='checkbox', id='type12')
                    | Electric
                li
                    input(type='checkbox', id='type13')
                    | Psychic
                li
                    input(type='checkbox', id='type14')
                    | Ice
                li
                    input(type='checkbox', id='type15')
                    | Dragon
                li
                    input(type='checkbox', id='type16')
                    | Dark
                li
                    input(type='checkbox', id='type17')
                    | Fairy
    button(type='button' id='toggleButton') Left Click to Add Favorites
    div#container
