doctype
html
    block title
        link(rel="stylesheet", href="style.css")
        script(src="script.js", defer)
        link(rel="icon", href="images/Poke Ball Icon.png")
        title POKÉMON | POKÉDEX

    div#header
        div#navbar
            a(href="/")
                button#home HOME
            img(src="images/White Half Poké Ball Symbol.png")

    block content
        div#container
            div.card
                h5.card-title Pokémon
                img.card-img(src="images/Pikachu.png", alt="Pokémon")
                ul.type-list
                    li.type.fire-type fire