doctype
html
    link(rel="stylesheet", href="style.css")
    link(rel="icon", href="images/Poke Ball Icon.png")
    title SIGN UP | POKÉDEX

    div#header
        div#navbar
            a(href="/")
                button#home HOME
            img(src="images/White Half Poké Ball Symbol.png")

    div#account-page
        h1 SIGN UP!
    
        p #{error}
        form(method="post", action=`/signup`).signup
            p
                label USERNAME: 
                input(type="text", name="username") 
                br
                label PASSWORD: 
                input(type="password", name="password")
                br
                label CONFIRM PASSWORD: 
                input(type="password", name="confirmPassword")
            input(type="submit", value="Submit")