@font-face {
    font-family: pokemonFont;
    src: url(Pokemon\ Solid.ttf);
}

:root {
    --red: #e4000f;
    --white: #edeaea;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
}

body {
    background-color:var(--white);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:var(--red);
}

#header {
    background-color: var(--red);
    color: white;
    text-align: center;
    font-size: 10px;
    font-family: pokemonFont;
    overflow: hidden;
}

#header text {
    fill: var(--white);
}

#title {
    font-size: 25px;
}

#tagline {
    letter-spacing: 1px;
}

#header img {
    width: 500px;
    margin-top: -200px;
    filter: drop-shadow(0px -300px 0 var(--white));
    transform: translateY(310px);
}

path {
    fill: transparent;
}

#teamlist {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px 20px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 6px solid var(--red);
    border-radius: 10px;
    margin: 20px;
}

#teamlist .card, #teamlist img {
    width: 400px;
}

#container {
    display: grid;
    background-color: var(--white);
    grid-template-columns: auto auto auto;
    gap: 5px 20px;
    margin-left: auto;  
    margin-right: auto;
}

#container img {
    width: 200px;    
}

#container a {
    text-decoration: none;
}

#container h1 {
    margin: 50px;
}

#trainer-pic {
    max-height: 400px;
    transition: none;
    cursor: auto;
}

#trainer-pic:hover {
    box-shadow: none;
    border-style: solid;
}

#entry-container {
    /* display: flex; */
    /* flex-wrap: wrap; */
    background-color: var(--white);
    /* gap: 5px 20px; */
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-template-areas:
        "nameplate nameplate image image image image image image"
        "nameplate nameplate image image image image image image"
        "type type image image image image image image"
        "dex dex image image image image image image"
        "dex dex image image image image image image"
        "dex dex image image image image image image"
        "dex dex image image image image image image"
        "dex dex image image image image image image"
        "stats stats stats stats stats stats stats stats";
    margin-left: auto;
    margin-right: auto;
}

.nameplate {
    text-transform: uppercase;
    margin: 20px;
    /* padding: 20px; */
    border: 6px solid var(--red);
    border-radius: 10px;
    grid-area: nameplate;
    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-rows: auto auto;
    grid-template-areas:
        "name nums"
        "name nums";
}

#entry-container #entry-name {
    border-right: 6px solid var(--red);
    /* border-radius: 10px; */
    padding: 20px;
    font-weight: bold;
    font-size: 40px;
    background-color: var(--red);
    color: var(--white);
    /* flex: 8; */
    text-align: left;
    /* justify-self: stretch; */
    grid-area: name;
}

#entry-container #entry-nums {
    display: grid;
    grid-template-rows: auto auto;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-self: stretch;
    grid-area: nums;
    /* flex: 2; */
    /* align-self: flex-end; */
}
#entry-id {
    /* border-bottom: 6px solid #e4000f; */
    padding: 5px;
}

#entry-gen {
    border-top: 3px solid var(--red);
    padding: 5px;
}

#entry-container .type-list {
    grid-area: type;
    margin: 0px 10px;
    align-self: start;
}

#entry-container .type {
    display: block;
    margin: 10px;
    padding: 40px 20px;
}

#entry-container #info {
    grid-area: dex;
    border: 6px solid var(--red);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

#entry-container .card {
    grid-area: image;
    transition: none;
    cursor: auto;
}

#entry-container .card:hover {
    box-shadow: none;
    border-style: solid;
}

#entry-container .stats {
    border: 6px solid var(--red);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    grid-area: stats;
    display: flex;
    justify-content: space-around;
}

#entry-container .stats p {
    background-color: var(--red);
    color: var(--white);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
}

.card h5 {
    background-color: var(--red);
    color: var(--white);
    /* margin: 10px; */
    padding: 10px;
    /* border-radius: 3px; */
}

.card {
    cursor: pointer;
    background: var(--white);
    margin: 20px;
    /* padding: 20px; */
    text-align: center;
    border: 6px solid var(--red);
    border-radius: 10px;
    transition: all 0.1s linear;
}

.card:hover {
    box-shadow: 8px 8px var(--red);
    border-style: outset;
}

/* .card:active {
    transition: all 0s linear;
    box-shadow: 2px 2px inset;
    background-color: #edeaea;
    color: #e4000f;
    border: 3px solid #e4000f;
} */

.card-title {
    margin: 0px 0px 15px;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    color: var(--red);
}

.card-text {
    font-size: 10px;
    text-align: center;
}

.card-img {
    padding-bottom: 5px;
}

.type-list {
    list-style-type: none;
    text-align: center;
    padding: 0px;
    margin: 10px;
    word-wrap: normal;
}
  
.type {
    display: inline;
    margin: 0px 2px;
    padding: 0px 4px 2px;
    font-size: 20px;
    font-weight: bold;
    color: var(--white);
    text-transform: uppercase;
    border-radius: 4px;
}

.normal-type {
    background-color: #aa9;
}
  
.fire-type {
    background-color: #f42;
}
  
.water-type {
    background-color: #39f;
}
  
.grass-type {
    background-color: #7c5;
}
  
.electric-type {
    background-color: #fc3;
}
  
.rock-type {
    background-color: #ba6;
}
  
.ground-type {
    background-color: #db5;
}
  
.psychic-type {
    background-color: #f59;
}
  
.fighting-type {
    background-color: #b54;
}
  
.ice-type {
    background-color: #6cf;
}
  
.poison-type {
    background-color: #a59;
}
  
.flying-type {
    background-color: #89f;
}
  
.bug-type {
    background-color: #ab2;
}
  
.ghost-type {
    background-color: #66b;
}
  
.dragon-type {
    background-color: #76e;
}
  
.dark-type {
    background-color: #754;
}
  
.steel-type {
    background-color: #aab;
}
  
.fairy-type {
    background-color: #e9e;
}

#entry {
    border: 6px solid var(--red);
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    border-radius: 4px;
}

#entry {
    margin-left: -15px;
}

#form {
    margin: 0px 0px 40px;
    text-align: center;
}

#form p {
    margin: 0px 0px 20px;
}

#form label {
    margin-right: 10px;
}

#navbar {
    display: inline-flex;
}

#home {
    border: none;
    background-color: var(--red);
    color: var(--white);
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 50px;
    width: 120.5px;
    height: 40px;
    border-radius: 4px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
}

#home:hover {
    background-color: var(--white);
    color: var(--red);
}

canvas,fieldset {
    background-color: var(--white);
    border: 3px dashed var(--red);
    border-radius: 10px;
}

canvas {
    padding: 2px;
}

fieldset {
    display: inline-block;
    padding: 10px;
    width: auto;
}

input[type=color] {
    background: var(--white);
    border: 3px solid var(--red);
    border-radius: 4px;
    margin: 10px;
    margin-top: 0px;
}

input[type=color]:hover {
    transition: all 0.1s linear;
    box-shadow: 2px 2px var(--red);
}

input[type=color]:active {
    transition: all 0s linear;
    box-shadow: 2px 2px inset var(--red);
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    background: var(--white);
    border: 3px solid var(--red);
    border-radius: 4px;
    height: 4px;
    margin: 10px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: var(--red);
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    cursor: pointer;
    border: none;
}

input[type=range]::-webkit-slider-thumb:hover {
    background-color: var(--white);
    border: 3px solid var(--red);
    transition: all 0s linear;
}

input[type=range]::-webkit-slider-thumb:active {
    border: 3px solid var(--white);
    background: var(--red);
    transition: all 0s linear;
}

input[type=text], input[type=password] {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    padding: 10px;
    color: var(--red);
    border: 3px solid var(--white);
    border-radius: 4px;
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

input[type=text]:focus, input[type=password]:focus {
    border: 3px solid var(--red);
    outline: none;
}

button, input[type=submit] {
    border: none;
    background-color: var(--red);
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
}

button:hover, input[type=submit]:hover {
    box-shadow: 4px 4px var(--red);
    transition: all 0.1s linear;
    background-color: var(--white);
    color: var(--red);
}

button:active, input[type=submit]:active {
    /* background-color: lightgrey; */
    transition: all 0s linear;
    box-shadow: 2px 2px inset;
    background-color: var(--white);
    color: var(--red);
    border: 3px solid var(--red);
}

.signup {
    text-align: center;
    margin: 50px 0px 0px 0px;
}

#account-page h1 {
    font-size: 200px;
    text-align: center;
    margin: 0;
    padding: 0;
}

select, #sidebuttons input, #popupbutton {
    border: none;
    background-color: var(--red);
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
      outline: none;
}

select:hover, #popupbutton:hover {
    box-shadow: 4px 4px var(--red);
    transition: all 0.1s linear;
    background-color: var(--white);
    color: var(--red);
    cursor: pointer;
}

select:active, #popupbutton:active {
    /* background-color: lightgrey; */
    transition: all 0s linear;
    box-shadow: 2px 2px inset;
    background-color: var(--white);
    color: var(--red);
    border: 3px solid var(--red);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#sticky {
    position: sticky;
    top: 0;
    background-color: var(--white);
    border-bottom: 3px solid var(--red);
}

#sideButtons {
    /* position: sticky;
    top: 0; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 20px;
    flex-wrap: wrap;
    /* background-color: var(--white);
    border-bottom: 3px solid #e4000f; */
}

#toggleButton, #toggleButton2 {
    position: fixed;
    left: 30px;
    border: 3px solid var(--red);
    background-color: var(--white);
    border-radius: 10px;
    padding: 10px;
    color: var(--red);
}

#toggleButton {
    bottom: 120px;
}

#toggleButton2 {
    bottom: 60px;
}

#checkBundle {
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
}

#checkBundle li{
    display: inline-block;
    list-style: none;
    text-align: center;
    padding: 5px;
}

#checkBundle input[type=checkbox] {
    border-radius: 100%;
    border: 2px solid var(--red);
    width: 10px;
    height: 10px;
    background-color: var(--white);
    -webkit-appearance: none;
}

#checkBundle input[type=checkbox]:checked {
    background-color: var(--red);
}

.account {
    text-align: center;
    /* margin-top: 10px; */
}

.account #form, #trainer, a {
    color:var(--red);
    font-size: 25px;
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-decoration: none;
}